<nav>
  <section aria-labelledby="nav-head-navigation">
    <h1 id="nav-head-navigation">Navigation</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </section>
  <hr />
  <section aria-labelledby="nav-head-other">
    <h1 id="nav-head-other">Other Sites</h1>
    <ul>
      <li><a href="https://www.twitch.tv/sandbox_actual">Live streams on Twitch.tv</a></li>
      <li><a href="https://www.youtube.com/@sandb0x">YouTube channel</a></li>
      <li><a href="https://github.com/Ryan-B-W">GitHub</a></li>
      <li><a href="https://vimacs.app">Vimacs.app: Emacs config</a>
    </ul>
  </section>
  <hr />
  <section aria-labelledby="nav-head-social">
    <h1 id="nav-head-social">Social</h1>
    <ul>
      <li><a href="https://defcon.social/@sandbox">Mastodon @ DEF CON.social</a></li>
      <li><a href="https://www.reddit.com/user/sandbox_actual">Reddit</a></li>
      <li><a href="https://steamcommunity.com/id/sandbox_actual">Steam</a></li>
    </ul>
  </section>
</nav>
